In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("C:\\Users\\DELL\\Downloads\\energydata_complete.csv")

In [4]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [6]:
#Q17
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
# Selecting the relevant columns
X = df[['T2']]  # Feature: Temperature in the living room
y = df['T6']    # Target: Temperature outside the building
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
rmse = mean_squared_error(y_test, y_pred, squared=False)
print(f"Root Mean Squared Error: {rmse:.3f}")

Root Mean Squared Error: 3.633

C:\Users\DELL\anaconda3\Lib\site-packages\sklearn\metrics\_regression.py:483: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

In [8]:
#Q18

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

# Removing columns 'date' and 'lights'
df = df.drop(['date', 'lights'], axis=1)

# Defining the target variable and features
X = df.drop('Appliances', axis=1)
y = df['Appliances']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

scaler = MinMaxScaler()

# Fitting on training set only
X_train_scaled = scaler.fit_transform(X_train)

# Applying transformation to both the training set and the test set
X_test_scaled = scaler.transform(X_test)

model = LinearRegression()
model.fit(X_train_scaled, y_train)

y_train_pred = model.predict(X_train_scaled)
mae_train = mean_absolute_error(y_train, y_train_pred)
print(f"Mean Absolute Error (MAE) on Training Set: {mae_train:.3f}")

Mean Absolute Error (MAE) on Training Set: 53.742

In [9]:
#Q19

y_train_pred = model.predict(X_train_scaled)
# Calculating the RMSE for the training set
rmse_train = np.sqrt(mean_squared_error(y_train, y_train_pred))
print(f"Root Mean Squared Error (RMSE) on Training Set: {rmse_train:.3f}")

Root Mean Squared Error (RMSE) on Training Set: 95.216

In [10]:
#Q20
# Predicting on the test set
y_test_pred = model.predict(X_test_scaled)

# Calculating the MAE for the test set
mae_test = mean_absolute_error(y_test, y_test_pred)
print(f"Mean Absolute Error (MAE) on Test Set: {mae_test:.3f}")

Mean Absolute Error (MAE) on Test Set: 53.643

In [14]:
#Q21

# Calculating RMSE using predictions and actual values from the test set
rmse_test = np.sqrt(mean_squared_error(y_test, y_test_pred))
print(f"Root Mean Squared Error (RMSE) on Test Set: {rmse_test:.3f}")

Root Mean Squared Error (RMSE) on Test Set: 93.640

In [15]:
#Q23

from sklearn.linear_model import Ridge
# Creating and training the Ridge Regression model
ridge_model = Ridge()
ridge_model.fit(X_train_scaled, y_train)

# Predicting on the training set and the test set
y_train_pred_ridge = ridge_model.predict(X_train_scaled)
y_test_pred_ridge = ridge_model.predict(X_test_scaled)

# Calculating RMSE using predictions and actual values from the test set
rmse_test_ridge = np.sqrt(mean_squared_error(y_test, y_test_pred_ridge))
print(f"Root Mean Squared Error (RMSE) with Ridge Regression on Test Set: {rmse_test_ridge:.3f}")

Root Mean Squared Error (RMSE) with Ridge Regression on Test Set: 93.709

In [20]:
#Q24

from sklearn.linear_model import Lasso

lasso_model = Lasso()
lasso_model.fit(X_train_scaled, y_train)

# Getting the coefficients from the lasso model
lasso_coeffs = lasso_model.coef_

# Printing coefficients to see which are non-zero
print("Lasso Coefficients:", lasso_coeffs)

# Count non-zero coefficients
non_zero_weights = np.sum(lasso_coeffs != 0)
print(f"Number of non-zero feature weights: {non_zero_weights}")

Lasso Coefficients: [  0.          56.94451601   0.          -0.           0.
   0.          -0.           0.          -0.           0.
   0.          -0.          -0.          -0.           0.
 -26.10288797  -0.          -0.           0.          -0.
 -50.29397595   5.14314792   0.          -0.          -0.
  -0.        ]
Number of non-zero feature weights: 4

In [21]:
#Q25

from sklearn.metrics import mean_squared_error

# Predicting on the test set with the Lasso model
y_test_pred_lasso = lasso_model.predict(X_test_scaled)

# Calculating the RMSE for the Lasso model on the test set
rmse_test_lasso = np.sqrt(mean_squared_error(y_test, y_test_pred_lasso))
print(f"Root Mean Squared Error (RMSE) with Lasso Regression on Test Set: {rmse_test_lasso:.3f}")

Root Mean Squared Error (RMSE) with Lasso Regression on Test Set: 99.424