In [1]:
import pandas as pd
import numpy as np

In [5]:
data=pd.read_csv('//content//FoodBalanceSheets_E_Africa_NOFLAG.csv',encoding='latin-1')

In [6]:
data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [10]:
data.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [12]:
#Q1
# Counting zeros in Y2014 column
missing_count = 1589

# Total number of entries in Y2014 column
total_entries = len(data["Y2014"])

# Calculating percentage of missing data
percentage_missing = (missing_count / total_entries) * 100

# Output
print("Total number of missing data in 2014:", missing_count)
print("Percentage of missing data in 2014: {:.3f}%".format(percentage_missing))

Total number of missing data in 2014: 1589
Percentage of missing data in 2014: 2.607%

In [9]:
#Q2
# Counting the number of unique countries in the 'Area' column
unique_countries = data['Area'].nunique()

# Printing the total number of unique countries
print("Total number of unique countries in the dataset:", unique_countries)

Total number of unique countries in the dataset: 49

In [13]:
#Q4
# Filtering rows where 'Item' is 'Wine'
wine_data = data[data['Item'] == 'Wine']

# Grouping by 'Item' and sum the values for years 2015 and 2018
wine_production_2015 = wine_data.groupby('Item')['Y2015'].sum().values[0]
wine_production_2018 = wine_data.groupby('Item')['Y2018'].sum().values[0]

# Output
print("Total Wine produced in 2015:", wine_production_2015)
print("Total Wine produced in 2018:", wine_production_2018)

Total Wine produced in 2015: 4251.81
Total Wine produced in 2018: 4039.32

In [14]:
#Q5
data.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [21]:
#Q6.
# Filtering rows for Madagascar and the year 2015
madagascar_2015_data = data[(data['Area'] == 'Madagascar') & (data['Element'] == 'Protein supply quantity (g/capita/day)')]

# Suming the values for Protein supply quantity in 2015
total_protein_supply_2015 = madagascar_2015_data['Y2015'].sum()

# Output
print("Total Protein supply quantity in Madagascar in 2015:", total_protein_supply_2015)

Total Protein supply quantity in Madagascar in 2015: 173.04999999999998

In [34]:
#Q7
# Filtering rows where 'Element' is 'Processing' and year is 2017
processing_2017_data = data[(data['Element'] == 'Processing') & (data['Element'] == 'Processing')]

# Suming the values for Processing in 2017
total_processing_2017 = processing_2017_data['Y2017'].sum()

# Output
print("Total sum of Processing in 2017:", total_processing_2017)

Total sum of Processing in 2017: 292836.0

In [35]:
data.shape

(60943, 12)

In [22]:
#Q19
#Given the following python code, what would the output of the code give?

my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [23]:
#Q11
# Selecting columns 'Y2017' and 'Area'
selected_data = data[['Area', 'Y2017']]

# Grouping by 'Area' and suming the values for 'Y2017'
sum_by_area = selected_data.groupby('Area')['Y2017'].sum()

# Finding the area with the highest sum in 2017
area_with_highest_sum = sum_by_area.idxmax()

# Output
print("Area with the highest sum in 2017:", area_with_highest_sum)

Area with the highest sum in 2017: Nigeria

In [24]:
#Q12
selected_data = data[['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']]

# Calculating correlation coefficients
correlations = selected_data.corr().abs()

# Excluding 'Element Code' correlation
correlations = correlations.drop('Element Code')

# Finding the year with the least correlation with 'Element Code'
least_correlated_year = correlations.idxmin().values[0]

# Output
print("Year with the least correlation with 'Element Code':", least_correlated_year)

Year with the least correlation with 'Element Code': Y2016

In [25]:
#Q13
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [26]:
#Q14
# Given list of tuples
y = [(2, 4), (7, 8), (1, 5, 9)]

# Assigning element 8 to variable x
x = y[1][1]

# Output
print("Variable x:", x)

Variable x: 8

In [27]:
#Q16
import pandas as pd

# Given list
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ['Age', 'Nationality', 'Overall']

# Creating DataFrame
df = pd.DataFrame(lst, columns=col,index=[1,2,3])

# Output
print(df)

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [29]:
#Q17
import numpy as np

# Given numpy array
array = np.array([[94, 89, 63],
                  [93, 92, 48],
                  [92, 94, 56]])

# Selecting elements in bold and italics
selected_elements = array[:2,0:]

# Output
print("Selected elements:", selected_elements)

Selected elements: [[94 89 63]
 [93 92 48]]

In [30]:
#Q18
# Selecting columns 'Y2017' and 'Area'
selected_data = data[['Area', 'Y2017']]

# Grouping by 'Area' and sum the values for 'Y2017'
sum_by_area = selected_data.groupby('Area')['Y2017'].sum()

# Sorting the sums in ascending order
sorted_sums = sum_by_area.sort_values()

# Finding the area with the 7th lowest sum in 2017
seventh_lowest_area = sorted_sums.index[6]

# Output
print("Area with the 7th lowest sum in 2017:", seventh_lowest_area)

Area with the 7th lowest sum in 2017: Guinea-Bissau

In [32]:
#Q20
# Filtering rows where 'Element' is 'Stock Variation'
stock_variation_data = data[data['Element'] == 'Stock Variation']

# Converting relevant columns to numeric dtype
stock_variation_data[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']] = stock_variation_data[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].apply(pd.to_numeric, errors='coerce')

# Group by 'Element' and sum the values for each year
sum_by_year = stock_variation_data.groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()

# Find the year with the highest sum of Stock Variation
max_sum_year = sum_by_year.idxmax(axis=1).values[0]

# Output
print("Year with the highest sum of Stock Variation:", max_sum_year)

Year with the highest sum of Stock Variation: Y2014

<ipython-input-32-23ddcf535eb6>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stock_variation_data[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']] = stock_variation_data[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].apply(pd.to_numeric, errors='coerce')